<h1>Create a new menu</h1>
 
<%= form_with url: menus_path, method: :post do |f| %>
  <p> 
    <%= f.label :Name %><br/> 
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>