<section class="home-main-pic delivery">
  <%= image_tag "food_delivery_vehicle.png"%>
  <div class="about_us_div">
    <p class="about_us_1">We at YammiFood make fresh food available at your doorstep within less time.</p>
    <br/><br/>
    <p class="about_us_1">Our restaurant started in 2010 and we came very far and long since then but we provide our customers with good food .</p> 
  </div>
</section>